@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
	font-family: 'Montserrat', sans-serif;
}

p {
	font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: 700;
}

p,ul,li {
	font-weight: 300;
}

h1 {
	font-size: 40px;
}

section {
	text-align: center;
	padding: 20px;
}